/* variables and mixins */
/* variables */
@import '//fonts.googleapis.com/css?family=Oswald:400,700|Raleway:400,800';
/* line 15, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_variables_mixins/_variables.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

/* line 19, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_variables_mixins/_variables.scss */
p, a, ol li, ul li {
  font-family: "Raleway", sans-serif;
}

/* mixins.scss */
/* typeography */
/* fonts */
/* line 5, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_typeography/_fonts.scss */
p, a, ol li, ul li, h1, h2, h3, h4, h5, h6 {
  color: #434343;
}

/* line 9, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_typeography/_fonts.scss */
h1 {
  font-size: 55px;
}

/* line 13, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_typeography/_fonts.scss */
h2 {
  font-size: 50px;
}

/* line 34, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_typeography/_fonts.scss */
p {
  font-size: 17px;
}

/* structure */
/* header */
/* line 3, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_header.scss */
a.skip-link.screen-reader-text {
  display: none;
}

/* line 7, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_header.scss */
.wpfront-message {
  font-size: 19px;
  font-family: "Raleway", sans-serif;
}

/* line 12, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_header.scss */
div#wpfront-notification-bar {
  min-height: 33px;
}

/* line 18, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_header.scss */
nav.navbar {
  background: rgba(255, 255, 255, 0.8) !important;
  z-index: 999 !important;
}

/* line 22, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_header.scss */
nav.navbar .container {
  max-width: 100%;
  margin: 0 auto;
}

/* line 27, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_header.scss */
nav.navbar .center-nav {
  margin: 0 auto;
  text-align: center;
}

/* line 31, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_header.scss */
nav.navbar .center-nav ul#menu-main-menu {
  display: inline-block !important;
}

/* line 34, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_header.scss */
nav.navbar .center-nav ul#menu-main-menu li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

/* line 40, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_header.scss */
nav.navbar .center-nav ul#menu-main-menu li a {
  transition: all .2s;
  font-family: "Oswald", sans-serif;
  color: #000;
  font-size: 19px;
}

/* line 46, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_header.scss */
nav.navbar .center-nav ul#menu-main-menu li a:hover {
  transition: all .2s;
  color: #DB3645;
  text-decoration: none;
}

/* global */
/* line 3, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_global.scss */
#content {
  margin-top: -100px;
}

/* line 6, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_global.scss */
#content h1.entry-title {
  display: none;
}

/* line 14, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_global.scss */
#content a {
  text-decoration: none;
}

/* line 17, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_global.scss */
#content a:hover {
  text-decoration: none;
}

/* line 23, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_global.scss */
#content .sc-cta h2, #content .sc-cta p {
  color: #fff;
}

/* line 25, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_global.scss */
#content .sc-cta h2 span, #content .sc-cta p span {
  color: #FCE462;
}

/* line 31, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_global.scss */
#content span.vce-button--style-outline-text {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}

/* line 37, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_global.scss */
#content #wedding-wire .ww-reviews-box {
  border-top: 1px solid #ffffff;
  background-color: #ffffff;
}

/* line 42, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_global.scss */
#content #wedding-wire .ww-review-box b {
  background-image: none !important;
}

/* line 46, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_global.scss */
#content #wedding-wire .ww-review-box-outer {
  background: none !important;
  border: 1px solid #FCE462;
}

/* line 51, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_global.scss */
#content #wedding-wire div#ww-widget-reviews {
  border: none;
}

/* footer */
/* line 3, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_footer.scss */
footer {
  padding-top: 30px;
}

/* line 6, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_footer.scss */
footer .textwidget.custom-html-widget {
  text-align: center;
}

/* line 8, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_footer.scss */
footer .textwidget.custom-html-widget a {
  transition: all .2s;
}

/* line 11, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_footer.scss */
footer .textwidget.custom-html-widget a:hover img {
  opacity: .8;
  transition: all .2s;
}

/* line 16, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_footer.scss */
footer .textwidget.custom-html-widget a img {
  height: 33px;
}

/* line 19, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_footer.scss */
footer .textwidget.custom-html-widget a i {
  font-size: 30px;
  vertical-align: middle;
  padding: 0px 5px;
  color: #4CAFCA;
  transition: all .2s;
}

/* line 27, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_footer.scss */
footer .textwidget.custom-html-widget a i:hover {
  transition: all .2s;
  opacity: .8;
}

/* line 36, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_footer.scss */
footer p {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
}

/* line 40, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_footer.scss */
footer p a {
  color: #434343;
  transition: all .2s;
}

/* line 43, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_structure/_footer.scss */
footer p a:hover {
  transition: all .2s;
  color: #DB3645;
}

/* pages */
/* home.scss */
/* line 10, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_home.scss */
.home .seperator-img-1 .vce-single-image-wrapper {
  margin-bottom: 10px;
}

/* line 13, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_home.scss */
.home .seperator-img-1 .vce-single-image-wrapper img {
  width: 75%;
  margin-top: 10px;
}

/* line 21, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_home.scss */
.home #welcome-to h1 {
  color: #4CAFCA;
}

/* line 35, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_home.scss */
.home #weddings h2, .home #weddings p {
  color: #fff;
}

/* line 41, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_home.scss */
.home #reception-services h2, .home #reception-services p {
  color: #fff;
}

/* services.scss */
/* line 6, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_services.scss */
.page-id-2439 #reception-services h1 {
  color: #4CAFCA;
}

/* line 10, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_services.scss */
.page-id-2439 #reception-services .vce {
  margin-bottom: 0px;
}

/* line 17, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_services.scss */
.page-id-2439 #services h2 {
  color: #4CAFCA;
}

/* line 21, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_services.scss */
.page-id-2439 #services .vce-text-block-wrapper {
  margin-bottom: 0;
}

/* line 25, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_services.scss */
.page-id-2439 #services div#el-ecd75724, .page-id-2439 #services div#el-b6f19a49 {
  background: #f8f8f8;
}

/* wedding.scss */
/* line 6, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_wedding.scss */
.page-id-2605 #specializing h2 {
  color: #4CAFCA;
}

/* line 9, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_wedding.scss */
.page-id-2605 #specializing .vce {
  margin-bottom: 0;
}

/* line 15, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_wedding.scss */
.page-id-2605 #pop-package h2, .page-id-2605 #pop-package p {
  color: #fff;
}

/* line 19, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_wedding.scss */
.page-id-2605 #pop-package strong, .page-id-2605 #pop-package b {
  color: #FCE462;
}

/* line 26, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_wedding.scss */
.page-id-2605 #quote img.vce-single-image {
  width: 30%;
}

/* line 30, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_wedding.scss */
.page-id-2605 #quote .vce {
  margin-bottom: 0;
}

/* line 34, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_wedding.scss */
.page-id-2605 #quote .vce-text-block .vce-text-block-wrapper {
  padding-top: 10px;
}

/* line 37, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_wedding.scss */
.page-id-2605 #quote .vce-text-block .vce-text-block-wrapper b {
  color: #DB3645;
}

/* custom welcome page for clients */
/* line 2, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
#single-client {
  margin-top: 76px;
}

/* line 5, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
#single-client .file-pdf, #single-client .file-doc {
  display: block;
}

/* line 9, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
#single-client .client-header {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background: url("/wp-content/uploads/2018/08/full-bloom.png");
  position: relative;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}

/* line 20, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
#single-client .client-header::before {
  content: "";
  background: #4CAFCA;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 32, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
#single-client .client-header img {
  height: 125px;
  padding-top: 20px;
  text-align: center !important;
  margin: 0 auto;
}

/* line 39, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
#single-client .client-header .col-md-3 {
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  min-height: 300px;
  border: 3px solid white;
}

/* line 46, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
#single-client .client-header .col-md-9 {
  text-align: center;
}

/* line 48, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
#single-client .client-header .col-md-9 h3 {
  color: white;
  margin-bottom: 0;
}

/* line 54, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
#single-client .client-header .col-md-9 h1, #single-client .client-header .col-md-9 h3, #single-client .client-header .col-md-9 p {
  color: white;
}

/* line 62, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
#single-client .client-info {
  padding-top: 30px;
}

/* line 65, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
#single-client .client-info h2 {
  color: #4CAFCA;
}

/* line 69, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
#single-client .client-info .col-sm-9 {
  padding-left: 0;
}

/* line 73, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
#single-client .client-info i.fas.fa-download {
  color: #DB3645;
}

/* line 89, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
.wedding-wire-sec {
  background: #ebebeb;
  text-align: center;
  margin-top: 30px;
  background: url("/wp-content/uploads/2018/08/unnamed-e1534380600704.jpg");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 2vw 2vw 3vw 2vw;
  position: relative;
}

/* line 100, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
.wedding-wire-sec::before {
  content: "";
  background: #FCE462;
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 111, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
.wedding-wire-sec .col-sm-12 {
  padding-bottom: 10px;
}

/* line 115, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
.wedding-wire-sec h1, .wedding-wire-sec h4 {
  color: #4CAFCA;
}

/* line 118, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
.wedding-wire-sec p {
  color: #434343;
}

/* line 122, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
.wedding-wire-sec a {
  border: 2px solid #DB3645;
  padding: 10px 20px;
  color: #DB3645;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

/* line 131, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
.wedding-wire-sec a:hover {
  border-color: #DB3645;
  background: #DB3645;
  color: white;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

/* line 144, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
.current-music {
  text-align: center;
  padding: 2vw 2vw 3vw 2vw;
}

/* line 147, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
.current-music h2 {
  color: #4CAFCA;
}

/* line 151, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
.current-music a {
  border: 2px solid #DB3645;
  padding: 10px 20px;
  color: #DB3645;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

/* line 160, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
.current-music a:hover {
  border-color: #DB3645;
  background: #DB3645;
  color: white;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

/* line 173, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
.review-us {
  text-align: center;
  background: url("/wp-content/uploads/2018/08/IMG_5067.jpg");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 2vw 2vw 3vw 2vw;
  position: relative;
}

/* line 182, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
.review-us::before {
  content: "";
  background: #4CAFCA;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 193, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
.review-us .container {
  max-width: 900px;
}

/* line 197, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_cust_welcome_page.scss */
.review-us h1, .review-us p {
  color: white;
}

/* contact.scss */
/* line 6, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #steps .vce-text-block-wrapper {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* line 15, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #steps .step-title {
  padding-bottom: 10px;
  text-align: center;
}

/* line 18, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #steps .step-title h2 {
  font-size: 38px;
  display: inline-block;
}

/* line 22, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #steps .step-title i.fas {
  font-size: 25px;
  color: #DB3645;
  vertical-align: super;
  padding-right: 10px;
  text-align: center;
}

/* line 34, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #contact h1 {
  color: #4CAFCA;
}

/* line 38, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #contact strong, .page-id-2726 #contact b {
  color: #DB3645;
}

/* line 44, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #contact #social {
  text-align: center;
}

/* line 46, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #contact #social a {
  transition: all .2s;
}

/* line 49, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #contact #social a:hover img {
  opacity: .8;
  transition: all .2s;
}

/* line 60, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #inquiry h3, .page-id-2726 #inquiry b, .page-id-2726 #inquiry strong, .page-id-2726 #inquiry label {
  color: #FCE462;
}

/* line 64, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #inquiry p, .page-id-2726 #inquiry #nf-label-class-field-9-0, .page-id-2726 #inquiry #nf-label-class-field-9-1, .page-id-2726 #inquiry #nf-label-class-field-9-2, .page-id-2726 #inquiry #nf-label-class-field-9-3, .page-id-2726 #inquiry #nf-label-class-field-9-4 {
  color: #fff !important;
}

/* line 67, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #inquiry #nf-form-title-1 h3 {
  display: none;
}

/* line 71, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #inquiry .nf-form-fields-required {
  display: none;
}

/* line 75, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #inquiry input#nf-field-4 {
  border: 2px solid white;
  background: transparent;
  color: white;
  font-family: "oswald", sans-serif;
  padding: 5px 20px;
  transition: all .2s;
}

/* line 83, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #inquiry input#nf-field-4:hover {
  background: #DB3645;
  border-color: #DB3645;
}

/* line 89, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #inquiry #payment {
  text-align: center;
}

/* line 91, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #inquiry #payment i {
  font-size: 50px;
  vertical-align: middle;
  padding: 0px 5px;
  color: #fff;
  transition: all .2s;
}

/* line 99, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_pages/_contact.scss */
.page-id-2726 #inquiry #payment i:hover {
  transition: all .2s;
  opacity: .8;
}

/* media queries */
/* desktop media querie */
/* laptop media query */
/* tablet media query */
@media screen and (min-width: 992px) {
  /* line 5, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_media_queries/_tablet.scss */
  #wedding-wire .ww-review-box-outer {
    width: 30%;
    display: inline-block;
  }
  /* line 9, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_media_queries/_tablet.scss */
  #wedding-wire .ww-reviews-header-box {
    display: none;
  }
  /* line 13, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_media_queries/_tablet.scss */
  #wedding-wire div#ww-widget-reviews {
    width: 100% !important;
    max-width: 100% !important;
  }
  /* line 17, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_media_queries/_tablet.scss */
  #wedding-wire div#ww-widget-reviews .ww-reviews-box {
    width: 100% !important;
    max-width: 100% !important;
    text-align: center !important;
  }
  /* line 22, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_media_queries/_tablet.scss */
  #wedding-wire div#ww-widget-reviews .ww-reviews-box .ww-review-score-box {
    text-align: left;
  }
  /* line 28, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_media_queries/_tablet.scss */
  .page-id-2213 #header {
    margin-top: -100px !important;
  }
}

@media screen and (max-width: 991px) {
  /* line 40, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_media_queries/_tablet.scss */
  #wedding-wire .ww-reviews-header-box {
    display: none;
  }
  /* line 44, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_media_queries/_tablet.scss */
  #wedding-wire .ww-reviews-widget {
    min-width: 100%;
  }
  /* line 48, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_media_queries/_tablet.scss */
  .page-id-2213 #header {
    margin-top: 100px !important;
  }
}

/* phone media querie */
@media screen and (max-width: 767px) {
  /* line 4, /Users/sydneyhaggard/Documents/Freelance/PartyTunes/WebsiteBuild/sc-partytunes/css/scss/_media_queries/_phone.scss */
  .vce-text-block-wrapper {
    padding: 0 2vw;
  }
}

/* extras */

/*# sourceMappingURL=../style.map */