/* services.scss */

.page-id-2439{

  #reception-services{
    h1{
      color: $blue;
    }

    .vce {
      margin-bottom: 0px;
    }
  }

  #services {

    h2 {
      color: $blue;
    }

    .vce-text-block-wrapper {
      margin-bottom: 0;
    }

    div#el-ecd75724, div#el-b6f19a49 {
      background: #f8f8f8;
    }


  }

}