/* contact.scss */

.page-id-117032{

  #steps{
    .vce-text-block-wrapper {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .step-num{
      h1{
        //color: $red !important;
      }
    }
    .step-title{
      padding-bottom:10px;
      text-align:  center;
      h2{
        font-size: 38px;
        display: inline-block;
      }
      i.fas {
        font-size: 25px;
        color: $red;
        vertical-align: super;
        padding-right: 10px;
        text-align:  center;
      }
    }

  }

  #contact{
    h1{
      color: $blue;
    }

    strong, b{
      color: $red;
    }



    #social{
      text-align: center;
      a {
        @include transition();
        &:hover{
          img{
            opacity: .8;
            @include transition();
          }
        }
      }
    }

  }

  #inquiry{
    h3, b, strong, label{
      color: $gold;
    }

    p, #nf-label-class-field-9-0, #nf-label-class-field-9-1, #nf-label-class-field-9-2, #nf-label-class-field-9-3, #nf-label-class-field-9-4{
      color: $white !important;
    }
    #nf-form-title-1 h3 {
      display: none;
    }

    .nf-form-fields-required {
      display: none;
    }

    input#nf-field-27 {
      border: 2px solid white;
      background: transparent;
      color: white;
      font-family: "oswald", sans-serif;
      padding: 5px 20px;
      @include transition();

      &:hover{
        background: $red;
        border-color: $red;
      }
    }

    #payment{
      text-align: center;
      i {
        font-size: 50px;
        vertical-align: middle;
        padding: 0px 5px;
        color: $white;
        @include transition();


        &:hover{
          @include transition();
          opacity: .8;

        }
      }
    }

  }

}
