/* laptop media query */

#single-client{
  margin-top: 76px;

  .file-pdf, .file-doc {
    display: block;
  }

  .client-header {
    text-align: center;
    background: $blue;
    padding-top: 30px;
    background: $blue;
    padding-bottom: 30px;
    img{
      height: 125px;
      padding-top: 20px;
      text-align: center !important;
      margin: 0 auto;
    }

    .col-md-3{
      background-size: cover !important;
      background-position: top center !important;
      background-repeat: no-repeat !important;
      min-height: 300px;
      border: 3px solid white;
    }
    .col-md-9{
      text-align: center;
      h3{
        color: white;
        margin-bottom: 0;

      }

      h1, h3, p{
        color: white;
      }

    }
  }


  .client-info{
    padding-top: 30px;

    h2{
      color: $blue;
    }

    .col-sm-9 {
      padding-left: 0;
    }

    i.fas.fa-download {
      color: $red;
    }

    p{

    }

    div a{

    }

  }
}

@media screen and (min-width: 992px) and (max-width: 1199px){

}

@media screen and (min-width: 992px){



}