/* tablet media query */

@media screen and (min-width: 992px){
  #wedding-wire{
    .ww-review-box-outer {
      width: 30%;
      display: inline-block;
    }
    .ww-reviews-header-box {
      display: none;
    }

    div#ww-widget-reviews {
      width: 100% !important;
      max-width: 100% !important;

      .ww-reviews-box {
        width: 100% !important;
        max-width: 100% !important;
        text-align: center !important;

        .ww-review-score-box {
          text-align: left;
        }
      }
    }
  }
  .page-id-2213 #header{
    margin-top: -100px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  
}

@media screen and (max-width: 991px){
  #wedding-wire{

    .ww-reviews-header-box {
      display: none;
    }

    .ww-reviews-widget {
      min-width: 100%;
    }
  }
  .page-id-2213 #header{
    margin-top: 100px !important;
  }

  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    display: none;
  }

  .navbar-brand-mobile {
    display: inline-block;
  }

  main#main {
    color: transparent;
  }

  .mobile-menu-sc {
    min-height: 55px;

    .navbar-header {
      width: 100%;
    }

    i.fas.fa-bars {
      color: $blue;
      font-size: 30px;
    }

    button.navbar-toggle.collapsed {
      z-index: 4000;
    }

    .navbar-brand-mobile a {

      text-align: center;
      font-family: "Oswald", sans-serif;
      color: #4CAFCA;
      font-size: 20px;
      position: absolute;
      right: 0;
      left: 0;
      margin-right: auto;
      margin-left: auto;
      //z-index: -1;
      top: 12px;
      width: 70%;
    }

    ul {
      text-align: center;
      border-top: 1px solid $gold;
      li {
        padding: 6px;
        a{
          font-family: $oswald;
          color: $grey;
          font-size: 16px;
        }
      }
    }

  }

}