/* fonts */

@import '//fonts.googleapis.com/css?family=Oswald:400,700|Raleway:400,800';

p, a, ol li, ul li, h1, h2, h3, h4, h5, h6{
  color: $grey;
}

h1{
  font-size: 55px;
}

h2{
  font-size: 50px;
}

h3{


}

h4{

}

h5{

}

h6{

}

p{
  font-size: 17px;
}